@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Yesteryear&display=swap');
.navbar{
  background-color: #fff !important;
}

.navbar a:hover{
color: rgb(0, 0, 0) !important;
}
.navbar-brand{
  font-family: 'Yesteryear', cursive;
  font-size: 1.8em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25em;
    text-decoration: none;
    text-transform: none;
}
.nav-item{
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  border: 0;
  outline: 0;
}
.contact-button{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24px;
  
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #b97fb8;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  ;
  border: #b97fb8;
  color: #fff;
  transition: all 0.3s ease;
}